@media (min-width:320px)  {
   /* smartphones, iPhone, portrait 480x320 phones */
   .google-login {
    width: 65%;
}
  
  }
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .google-login {
    width: 65%;
} 
  
}
@media (min-width:641px)  { 
  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .google-login {
    width: 40%;
}
  
 }
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .google-login {
    width: 41%;
}
  
}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  .google-login {
    width: 42%;
}
  
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
  .google-login {
    width: 101%;
}

}
* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("queue.jpg");
  
  /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  display: block;
  /* Full height */
  height: 100vh; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  overflow-x:hidden;
  overflow-y:scroll;

}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
.badge{
	background-color:#f6f6f6;
}
a {
  cursor: pointer;
  cursor: hand;
}

.navbar-inverse {
  background-color: green;
  border-color: #080808;
}

.modal-header, h4 {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 20px;
}
.modal-footer {
  background-color: #f9f9f9;
}

.tokennumber .googlelogin
{
  text-align: center;
  margin: 15px;
}

.welcomebox 
{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  /* top: 40%; */
  left: 10%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  width: 80%;
  padding: 20px;
}

.welcomebox .welcomemessage
{
  text-align: center;
  padding: 10px;
}
.welcomebox .welcomemessage .header
{
  font-size: 26px;
  font-style: italic;
  font-family: cursive;
}

.card
{
  border: 1px solid #f1f1f1;
  height: 200px;
}
.card:hover
{
  background-color: rgb(0,0,0,0.3);
  
}
.card .card-header
{
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-family: cursive;
}

.card .card-body
{
  width: 80%;
  margin: 1em auto;
  padding: 1em 5%;
  position: relative;
}
.card .card-body.Hospitals:after
{
  content: "\f0f0"; 
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  top:-28%;
  left:35%;
  color: #f5f5f5;
  z-index: 1;
}

.card .card-body.Campus:after
{
  content: "\f0c0"; 
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  top:-28%;
  left:35%;
  color: #b4c712;;
  z-index: 1;
}

.card .card-body.Event:after
{
  content: "\f007"; 
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  top:-28%;
  left:35%;
  color: #f5f5f5;;
  z-index: 1;
}
.card .card-body.card-body-inner
{
  position: relative;
  z-index: 2;
}

